services:
  - type: web
    name: fastapi-app
    env: python
    plan: free
    pythonVersion: 3.13
    buildCommand: pip install -r requirements.txt
    startCommand: python -m uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PORT
        value: 8000
